* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #fff !important;
  background-color: #004aa8 !important;
  font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu",
    "Cantarell", "Open Sans", sans-serif;
}

#top-menu {
  background-color: #004aa8;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.hamburger {
  border: none !important;
}

.container {
  max-width: 1068px !important;
}

.logo {
  width: 55px;
  height: 55px;
}

.logo:hover {
  transform: rotate(-360deg);
  transition: 1s ease-in-out;
}

.nav__item {
  color: #004aa8;
  background-color: #fff;
  border: 1px solid #004aa8;
}

.nav__item:hover {
  color: #fff !important;
  background-color: #004aa8;
  border: 1px solid #fff;
}

.nav__item a:hover {
  color: #fff !important;
  text-decoration: none;
}

.kicker {
  font-size: 1rem;
  font-weight: 300;
}

.title {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 900;
  transform: scaleY(1.2);
  letter-spacing: 5px;
}

.tagline {
  margin-top: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.1em;
}

.caption {
  margin-top: 1rem;
  color: #c4c4c4;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 25px;
}

.cta-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.cta-btn a {
  margin: 0 0.35rem;
}

.home-icon {
  color: inherit;
  text-decoration: none;
}

.home-icon i {
  font-size: 2.5rem;
  cursor: pointer;
  transition: 1s ease-in-out;
}

.home-icon i:hover {
  transform: scale(1.15);
  color: #fff;
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 75%;
  height: 40rem;
  clip-path: polygon(45% 0%, 100% 0, 100% 99%, 55% 57%);
  background-color: #fff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  z-index: -1;
}

.section-title {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 2px;
}

.section-sub-title {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.section-text {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 1px;
}

.hr-tag {
  width: 180px;
  border: 5px solid;
  border-radius: 5px;
}

.about-tech-logo {
  padding: 1rem;
  margin-top: 1rem;
  font-size: 4rem;
}

.about-tech-logo img {
  width: 8rem;
}

.introduction,
.function {
  margin-top: 6rem;
  margin-bottom: 1.5rem;
}

.project-vessel {
  width: 100%;
  height: 450px;
  box-shadow: 0 25px 50px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.img-vessel {
  width: 120%;
  position: relative;
  top: 0rem;
  left: -6rem;
  border-top: 20px solid rgb(73, 97, 220);
  border-bottom: 20px solid rgb(73, 97, 220);
  border-radius: 8px;
}

.proj-img {
  width: 100%;
  height: 280px;
  margin-top: 1rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.proj-tech-logo {
  height: 30px;
  border-radius: 5px;
  text-align: end;
}

.proj-tech-logo img {
  width: 35px;
}

.proj-btns {
  font-size: 0.75rem;
  font-weight: 400;
  margin: 10px 10px 10px 0;
  padding: 8px 10px;
  color: #fff;
  background: linear-gradient(
    134deg,
    rgb(106, 152, 240) 0%,
    rgb(73, 97, 220) 99%
  );
  border: none;
  border-radius: 8px;
  transition: 1s ease-out;
}

.proj-btns:hover {
  transform: scale(1.1);
  border-radius: 0px;
}

.proj-btns a {
  text-decoration: none;
  color: #fff;
}

.proj-btns a:hover {
  color: inherit;
}

.email-btn {
  margin-top: 1.5rem;
}

.dev-img {
  position: relative;
  top: -30%;
  width: 80%;
  height: 10rem;
  text-decoration: none;
  border-radius: 8px;
}

img {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .introduction,
  .about-logos,
  .section-title,
  .section-sub-title,
  .email-btn {
    text-align: center;
  }
  .function {
    text-align: left;
  }
  .cta-btn {
    margin: auto;
    justify-content: center;
  }
  .hr-tag {
    margin: auto;
  }
  .triangle {
    display: none;
  }
  .dev-img {
    margin: auto;
    width: 8rem;
    top: 0rem;
    left: 0rem;
    text-decoration: none;
  }
  .project-vessel {
    height: 100%;
  }
  .img-vessel {
    top: 0;
    left: 0;
    width: 100%;
  }
  .proj-img {
    height: 230px;
  }
}
